@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
:root {
  --color-primary: hsl(31, 77%, 52%);
  --color-secondary: hsl(184, 100%, 22%);
  --color-accent: hsl(179, 100%, 13%);
}
body {
  font-family: "Lexend Deca", sans-serif;
  margin: 0;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
  height: 100vh;
  padding: 0 3rem;
  /* */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.card {
  height: 100%;
  width: 100%;
  padding: 1rem;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 0;
}

.card--container {
  margin: 0 1.2rem;
}

.card__heading {
  text-transform: uppercase;
  margin: 1.1rem 0;
  color: hsl(0, 0%, 95%);
  font-weight: 700;
  font-size: 25px;
  font-family: "Big Shoulders Display", "Lexend Deca", cursive;
}

.card__content {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 4rem;
}

.card--primary {
  background-color: var(--color-primary);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card--secondary {
  background-color: var(--color-secondary);
}

.card--accent {
  background-color: var(--color-accent);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn {
  border-radius: 1rem;
  border: none;
  padding: 0.7rem 1.5rem;
  margin-bottom: 2.5rem;
}

.btn--primary {
  background-color: #fff;
  color: var(--color-primary);
}
.btn--secondary {
  background-color: #fff;
  color: var(--color-secondary);
}
.btn--accent {
  background-color: #fff;
  color: var(--color-accent);
}

img {
  width: 14%;
  margin-top: 1rem;
  max-width: 50px;
  max-height: 50px;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .card--primary {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }

  .card--accent {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }
}
